<div class="max-w-3xl mx-auto">
  <% if not current_user.panchayat_admin? %>
    <div class="mt-3 lg:mt-0">
      <%= link_to 'Edit Traveller', edit_application_contact_path(@contact), class: 'bg-white inline-flex items-center px-3 py-2 rounded-md text-sm font-medium leading-5 rounded shadow text-gray-800' %>
    </div>
  <% end %>
  <div class="bg-white shadow overflow-hidden  sm:rounded-lg mt-4">
    <div class="text-5xl font-black mt-4 text-center">
      Kerala Travel Pass
    </div>
    <div class="flex flex-col-reverse md:flex-row">
      <div class="md:w-1/2 px-4">
        <dl>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Name
            </dt>
            <dd class="mt-1 text-sm flex flex-col leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
              <p>
                <%= @contact.name %>
              </p>
            </dd>
          </div>
          <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Phone Number, Click to Call
            </dt>
            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
              <%= link_to @contact.phone, "tel:#{@contact.phone}" %>
            </dd>
          </div>
          <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Age / Gender
            </dt>
            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
              <%= @contact.gender.to_s.capitalize() %>, <%= @contact.age %> years old
            </dd>
          </div>
          <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500">
              Address
            </dt>
            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
              <ul>
                <li class="my-2"><span class="font-bold">House:</span> <span><%= @contact.house_name %></span></li>
                <li class="my-2"><span class="font-bold">Ward: </span><%= @contact.ward %></span></li>
                <li class="my-2"><span class="font-bold">Panchayat: </span><%= @contact.panchayat.name %></span></li>
              </ul>
            </dd>
          </div>
      </div>
      <div class="md:w-1/2 mt-4 flex items-center mx-auto p-4 md:p-10">
        <%
          qrcode = RQRCode::QRCode.new("#{application_contact_url(@contact.application, @contact)}")
          # With default options specified explicitly
          svg = qrcode.as_svg(offset: 0, color: '000',
            shape_rendering: 'crispEdges',
            module_size: 6,
            standalone: true)
        %>

        <%= raw svg %>
      </div>
    </div>
  </div>
  <div class="mt-4">
    Add medical History
  </div>
</div>